@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
/* variables */
:root {
  --passiveTxtColor: #19182580;
  --pinkTxtColor: #f85e9f;
  --btnColor: #5d50c6;
  --orangeNumColor: #ff5722;
  --almostBlackalmostBlack: #191825;
}
/* border: 2px solid black; */
body {
  font-family: "Roboto Serif", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
}
/* navigation styles */
nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.nav-items {
  width: 428px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#active {
  color: black; /*ეს რადგან მომხმარებელი მიხვდეს, რომელ გვერდზეცაა*/
}
.nav-items a {
  color: var(--passiveTxtColor);
  transition: 0.2s all ease-out;
}
.nav-items a:hover {
  color: black;
  transition: 0.2s all ease-out;
}
.nav-logo {
  width: 142px;
}
.registration {
  display: flex;
  height: 49px;
}
.signUp {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--btnColor);
  border-radius: 100px;
  padding: 16px 32px;
  transition: 0.3s all ease;
}
.logIn {
  color: black;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 16px 32px;
  transition: 0.2s all ease;
}
.signUp:hover {
  background-color: #5e50c6b3;
  transition: 0.3s all ease;
}
.logIn:hover {
  color: var(--btnColor);
  transition: 0.2s all ease;
}
#burger-menu {
  color: white;
  font-size: 35px;
  margin-right: 50px;
  display: none;
  background-color: var(--btnColor);
  padding: 7px;
  border-radius: 11px;
  transition: 0.3s all ease;
}
#burger-menu:hover {
  transition: 0.3s all ease;
  background-color: #5e50c695;
  cursor: pointer;
}
/* header styles */
@keyframes slideFromRight {
  from {
    margin-right: 100px;
    opacity: 0;
  }
  to {
    margin-right: 0;
    opacity: 1;
  }
}
@keyframes slidefromLeft {
  from {
    margin-left: 80px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
header {
  width: 87%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-div-info {
  width: 412px;
  animation: slidefromLeft 2s ease;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.header-div-img {
  max-width: 772px;
  animation: slideFromRight 2s ease;
}
.hd-img {
  max-width: 100%;
}
h1 {
  font-weight: 300;
  font-size: 69px;
  line-height: 120%;
}
.pink-h1 {
  color: var(--pinkTxtColor);
}
.hd-info-p {
  font-weight: 400;
  font-size: 18px;
  color: var(--passiveTxtColor);
  line-height: 160%;
}
.get-started {
  background-color: var(--btnColor);
  border-radius: 100px;
  padding: 16px 32px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  border: none;
  transition: 0.2s all ease;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 5px 11px rgba(0, 0, 0, 0.1);
}
.get-started:hover {
  background-color: #5e50c6b3;
  transition: 0.2s all ease;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.08), 0 6px 10px rgba(0, 0, 0, 0.15);
}
.watch-demo {
  border: 1px solid #eeeeee;
  border-radius: 100px;
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
  gap: 15px;
  padding: 8px;
}
.watch-demo:hover {
  background-color: #5e50c681;
  transition: 0.2s all ease;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.08), 0 6px 10px rgba(0, 0, 0, 0.15);
}
.playbutton {
  width: 30px;
}
.watch-demo p {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
}
.hd-btns-div {
  display: flex;
  width: 329px;
  gap: 20px;
}
/* section 1 styles */
.section1 {
  width: 87%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sec1-info-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sec1-cards-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.explore h4 {
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 20%;
  text-transform: uppercase;
  color: var(--pinkTxtColor);
}
.explore h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--almostBlackalmostBlack);
}
.arrows-div {
  height: 100px;
  padding: 33px;
}
.aleft {
  font-size: 30px;
  font-weight: 900;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid #eeeeee;
  padding: 30px;
  transition: 0.4s all ease;
  margin-right: 10px;
}
.aleft:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  background-color: var(--btnColor);
  transition: 0.4s all ease;
  color: white;
}
.aright {
  font-size: 30px;
  font-weight: 900;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid #eeeeee;
  padding: 30px;
  transition: 0.4s all ease;
  margin-left: 10px;
}
.aright:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  background-color: var(--btnColor);
  transition: 0.4s all ease;
  color: white;
}
.card {
  width: 370px;
  height: 577px;
  border-radius: 32px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s all ease;
  box-shadow: 0px 0px 0px 0px #0000000d, 0px 32px 71px 0px #0000000d,
    0px 128px 128px 0px #0000000a, 0px 288px 173px 0px #00000008,
    0px 513px 205px 0px #00000003, 0px 801px 224px 0px #00000000;
}
.card:hover {
  transition: 0.3s all ease;
  margin-top: -10px;
  opacity: 1;
}
.card-img {
  width: 100%;
  height: 308px;
  background-image: url(../assets/rectangle1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px 32px 0 0;
}
#card-img2 {
  background-image: url(../assets/Rectangle2.svg);
  border-radius: 32px 32px 0 0;
}
#card-img3 {
  background-image: url(../assets/rectangle3.svg);              /*აქ ეს ფოტო არ ჩანს რატომღაც!*/
  border-radius: 32px 32px 0 0;
}
.card-info {
  width: 309px;
  height: 100px;
  margin: 0 auto;
  display: flex;
}
.rating {
  height: 28px;
  width: 309px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.rating-p {
  font-weight: 700;
  font-size: 23px;
  color: var(--orangeNumColor);
  line-height: 120%;
}
.info-price {
  width: 90px;
  height: 35px;
  font-weight: 700;
  font-size: 23px;
  display: flex;
  align-items: center;
  color: #f85e9f;
}
.info-txt {
  width: 228px;
  height: 100%;
}
.info-txt h6 {
  font-weight: 700;
  font-size: 23px;
  color: var(--almostBlackalmostBlack);
  margin: 0;
}
.info-txt p {
  font-weight: 400;
  font-size: 18px;
  color: #191825bf;
}
/* section 2 styles */
.section2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 94%;
}
.sec2-info {
  width: 441px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec2-info h5 {
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 20%;
  text-transform: uppercase;
  color: var(--pinkTxtColor);
}
.sec2-info h3 {
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--almostBlackalmostBlack);
}
.sec2-info p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #19182580;
}
.sec2-frame {
  width: 441px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
.sec2-container {
  border: 1px solid #eeeeee;
  width: 204px;
  height: 151px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease;
  cursor: pointer;
}
.sec2-container:hover {
  scale: 1.02;
  transition: 0.3s all ease;
}
.sec2-container h4 {
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--orangeNumColor);
}
.sec2-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--almostBlackalmostBlack);
}
.sec2-imgtag {
  max-width: 100%;
  margin-bottom: 30px;
}
/* section 3 styles */
.section3 {
  width: 90%;
  margin: 150px auto;
  height: 870px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.s3-h5 {
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 20%;
  text-transform: uppercase;
  color: var(--pinkTxtColor);
}
.s3-h4 {
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--almostBlackalmostBlack);
}
.s3-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #19182580;
}
.sec3-container {
  width: 100%;
}
.sec3-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cont-div {
  width: 100%;
  height: 164px;
  padding: 31px;
  border-radius: 32px;
  transition: 0.2s all ease;
  display: flex;
  align-items: center;
  gap: 32px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s all ease;
}
.cont-div:hover {
  border: 1px solid grey;
  transition: 0.5s all ease;
  margin-left: 20px;
  opacity: 1;
}
.location {
  background-color: var(--orangeNumColor);
  padding: 20px;
  border-radius: 32px;
  height: 100px;
  width: 100px;
}
.cont-div-info {
  height: 100px;
  width: 320px;
}
.cont-div-info h5 {
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--almostBlackalmostBlack);
}
.cont-div-info p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--almostBlackalmostBlack);
}
#schedule {
  background-color: #facd49;
}
#ticket {
  background-color: #f85e9f;
}
/* footer styles */
footer {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ft-left-div {
  width: 560px;
  height: 279px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ft-logo {
  width: 150px;
}
.socials i {
  background-color: #5d50c6;
  border-radius: 100%;
  padding: 14px;
  color: #ffffff;
  height: 43px;
  font-size: 19px;
  transition: 0.2s all ease;
  cursor: pointer;
}
.socials i:hover {
  color: var(--btnColor);
  transition: 0.2s all ease;
}
.ft-left-p {
  font-size: 19px;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--almostBlackalmostBlack);
}
.socials {
  width: 170px;
  gap: 18px;
  display: flex;
}
.ft-right-div {
  width: 560px;
  height: 306px;
  display: flex;
  justify-content: space-around;
}
.ft-list {
  width: 165px;
  height: 306px;
}
.ft-list h4 {
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--almostBlackalmostBlack);
}
.ft-list a {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #191825bf;
  transition: 0.2s all ease;
}
footer li {
  margin: 20px 0;
}
.ft-list a:hover {
  text-decoration: underline;
  transition: 0.2s all ease;
}
/* responsive styles */
@media only screen and (max-width: 1150px) {
  nav {
    margin-bottom: 65px;
  }
  .header-div {
    flex-direction: column-reverse;
    gap: 70px;
  }
  .header-div-info {
    width: 85%;
    text-align: center;
    align-items: center;
  }
  .sec1-info-div {
    justify-content: space-evenly;
    gap: 60px;
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .sec1-cards-div {
    justify-content: space-evenly;
    gap: 50px;
  }
  .sec2-info {
    width: 800px;
  }
  .sec2-frame {
    max-width: 670px;
  }
  .sec2-container {
    width: 300px;
    margin: 0 auto;
  }
  .sec3-info {
    text-align: center;
    align-items: center;
  }
  footer {
    flex-direction: column;
  }
  .ft-left-div {
    width: 100%;
  }
  .ft-right-div {
    width: 100%;
    margin-top: 50px;
  }
  .ft-list {
    width: 220px;
  }
  #burger-menu {
    display: block;
  }
  .registration {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .nav-items {
    display: none;
  }
  nav {
    padding: 40px;
  }
  .hd-btns-div {
    flex-direction: column;
  }
  .sec2-frame {
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 300px;
  }
  .sec2-info {
    text-align: center;
    align-items: center;
  }
  #burger-menu {
    margin-right: -35px;
    margin-left: 30px;
  }
  .nav-logo {
    margin-left: -35px;
  }
}
@media only screen and (max-width: 680px) {
  .sec3-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .ft-list li {
    display: none;
  }
  .ft-right-div {
    flex-direction: column;
    padding: 10px;
    margin-left: -109px;
  }
  .ft-left-div {
    gap: 15px;
  }
  .ft-list h4:hover {
    text-decoration: underline;
  }
  .card {
    opacity: 1;
  }
  .cont-div {
    padding: 0;
    opacity: 1;
  }
  footer {
    margin-bottom: 10px;
  }
}
